/writeup/*
/Data/*
*ds
*.nii
*.mat
*.acq
*.hc
*.infods
*.meg4
*.hist
*.bak
*.eeg
*.cfg
*.cls
*.res4
*.newds
*.segments
*.mrk
*.fig
*.fig
*.bad
*.dsc
*.FTG
*.PDG
*.cot
*.atf
*.trig
*.txt
*.nii

*.eeg
*.acq
*.cls
Data/DS/MRI/sourcespace/rDS_1_DICS_sourcecoh_int_STN_L01.nii
*.asv
